<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->


  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="false"/>
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="logconsole" xsi:type="ColoredConsole" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}" />
    <target name="file"
            xsi:type="File"
            fileName="${basedir}/logs/${date:universalTime=true:format=yyyy-MM}/${date:universalTime=true:format=yyyy-MM-dd}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=ToString}"
            createDirs="true"
            archiveEvery="Day"
            maxArchiveFiles="20"
            maxArchiveDays="60"
            archiveAboveSize="200240000"
            archiveFileName="${basedir}/logs/archive/logs.{#}.zip"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            enableArchiveFileCompression="true"
    />
    <target name="fileError"
            xsi:type="File"
            fileName="${basedir}/logs/${date:universalTime=true:format=yyyy-MM}/error_${date:universalTime=true:format=yyyy-MM-dd}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=ToString}"
            createDirs="true"
            archiveEvery="Day"
            maxArchiveFiles="20"
            maxArchiveDays="60"
            archiveAboveSize="200240000"
            archiveFileName="${basedir}/logs/archive/logs.error.{#}.zip"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            enableArchiveFileCompression="false"
    />
    <target name="fileWarnings"
            xsi:type="File"
            fileName="${basedir}/logs/${date:universalTime=true:format=yyyy-MM}/warn_${date:universalTime=true:format=yyyy-MM-dd}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=ToString}"
            createDirs="true"
            archiveEvery="Day"
            maxArchiveFiles="20"
            maxArchiveDays="60"
            archiveAboveSize="200240000"
            archiveFileName="${basedir}/logs/archive/logs.warn.{#}.zip"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            enableArchiveFileCompression="false"
    />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="fileWarnings" />
    <logger name="*" minlevel="Error" writeTo="fileError" />
  </rules>
</nlog>